@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}

@import "@liveblocks/react-comments/styles.css";

* {
  font-family: work sans, sans-serif;
}

html {
  overflow: auto;
  height: auto;
}

body {
  overflow: hidden;
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none bg-transparent outline-none ring-offset-0 focus:ring-1 focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white !important;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200 !important;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  border: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.round {
  border-radius: 34px;
}

.slider i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  transition: opacity 0.4s ease-in-out;
}



.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0);
}


.slider.round {
  border-radius: 34px;
  /* Match with the switch */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: light-blue;
}

input:checked+.slider:before {
  transform: translateX(26px);
  /* Move circle on toggle */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scrollbar-width: thin;
}