@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-comments/styles.css";

* {
  font-family: work sans, sans-serif;
}
html {
  overflow: auto;
  height: auto;
}
body {
  overflow: hidden;
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none  bg-transparent outline-none ring-offset-0 focus:ring-1  focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white !important;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200 !important;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  border: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Adjust width for your design */
  height: 30px; /* Adjust height for your design */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue; 
  transition: background-color 0.4s; 
  border-radius: 34px; 
}

.round {
  border-radius: 34px;
}

.slider i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px; 
  transition: opacity 0.4s ease-in-out; 
}



.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0); 
}
 



.hover-underline-animation {
  position: relative;
  cursor: pointer;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.hover-underline-animation:hover::after {
  width: 100%;
}

.slider.round {
  border-radius: 34px; /* Match with the switch */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; 
  width: 20px; 
  left: 2px; 
  bottom: 2px; 
  background-color: white; 
  transition: .4s; 
  border-radius: 50%;
}

input:checked + .slider {
  background-color: light-blue; 
}

input:checked + .slider:before {
  transform: translateX(26px); /* Move circle on toggle */
}
